.welcome-section {
    background-image: url('/assets/images/digital-solutions.jpg');
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.items {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 13% 0;
}

.title, .sub-title {
    color: #fff;
    padding: 3% 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.title {
    font-weight: bolder;
    font-size: 3rem;
    padding: 3% 10%;
}

.sub-title {
    font-weight: bold;
    font-size: 2rem;
    padding: 3% 0;
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 2rem;
    }

    .sub-title {
        font-size: 1.75rem;
    }
}