.service-card-container {
    height: auto;
    width: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    
}

.service-icon {
    color: #fff;
    background-color: #353472;
    border-radius: 50%;
    margin-top: 50%;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    height: 80px;
    width: 80px;
    margin-top: 5px;
    justify-self: center;
}

.service-title, .service-description {
    padding: 0.5rem;
    color: #343E92;
}

.service-title {
    font-size: 1.5rem;
}

.service-description {
    font-size: 1rem;
}