<section class="footer-section">
  <div class="about-us-column">
    <div class="brand-logo" routerLink="/">
      <img
        src="/assets/images/yonebi-logo.png"
        class="yonebi-logo"
        alt="yonebi-logo"
      />
    </div>
    <div class="about-us-description">{{ aboutUsDescription }}</div>
  </div>
  <div class="separate-line"></div>
  <div class="row others-column">
    <div class="services-column col-lg-4">
      <div class="column-title">Services</div>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="#services-section">Services</a></li>
        <li><a href="#portofolio-section">Portofolio</a></li>
        <li><a href="#testimonials-section">Témoignages</a></li>
        <li><a href="#why-us-section">Pourquoi Nous</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="contact-column col-lg-4">
      <div class="column-title">Nous contacter</div>
      <ul>
        <!--<li><a href="/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i> 077 289 900</a></li>-->
        <li>
          <a
            href="mailto:info@yonebi.com"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-solid fa-envelope"></i> info@yonebi.com</a
          >
        </li>
        <li>
          <a
            href="mailto:info@yonebi.com"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-solid fa-envelope"></i> papemayel1515@gmail.com</a
          >
        </li>
        <li>
          <a href="/" target="_blank" rel="noopener noreferrer"
            ><i class="fa-solid fa-link"></i> yonebi.</a
          >
        </li>
      </ul>
    </div>

    <div class="social-media-column col-lg-4">
      <div class="column-title">Réseaux sociaux</div>
      <ul>
        <li>
          <a
            href="https://www.instagram.com/yonebi_media/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-instagram"></i> instagram</a
          >
        </li>
        <!--<li><a href="/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i> facebook</a></li>
                <li><a href="/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i> youtube</a></li>-->
      </ul>
    </div>
  </div>
</section>
<div class="copyright-text">{{ copyrightText }}</div>
