<div class="navbar-container top-nav">
    <div class="brand-logo" routerLink="/" >tech.yonebi.</div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="/" >Accueil</a></li>
        <li><a href="#services-section" >Services</a></li>
        <li><a href="#portofolio-section" >Portofolio</a></li>
        <li><a href="#testimonials-section" >Témoignages</a></li>
        <li><a href="#why-us-section" >Pourquoi Nous</a></li>
        <li><a href="/contact" >Contact</a></li>
    </ul> 
    
</div>
