<div class="container">
    <h1>Demande de suppession des données de l'application GPma</h1>
    <div>Remplissez le formulaire suivant</div>
    <form  (ngSubmit)="submitForm()" class="contact-input">
        <input type="text" [(ngModel)]="formData.firstName" class="first-name-input" name="firtNname" placeholder="Prénom">
        <input class="last-name-input" [(ngModel)]="formData.lastName" type="text" name="lastName" placeholder="Nom">
        <input type="email" [(ngModel)]="formData.emailAdress" class="email-adress-input" name="emailAdress" placeholder="Adresse mail">
        <button type="submit" class="btn btn-primary submit-button">Envoyer ma demande de suppression des données de GPma</button>
    </form>
</div>